In [1]:
for i in range(1,6):
    for j in range(1,6):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555

In [6]:
for i in range(1,6):
    for j in range(6,1+i,-1):
        print('*',end="")
    print()

****
***
**
*

In [9]:
for i in range(1,6):
    for j in range(1,6-i+1):
        print(j,end="")
    print()

12345
1234
123
12
1

In [10]:
n= 5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print("*",end="")
    print()

    *
   **
  ***
 ****
*****

In [11]:
n= 5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(2*i-1):
        print("*",end="")
    print()

    *
   ***
  *****
 *******
*********

In [29]:
for i in range(1,n):
    print(" "*(n-i),end="")
    print("*"*(2*i-1))
for i in range(n,0,-1):
    print(" "*(n-i),end="")
    print("*"*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [32]:
for i in range(1,6):
    for j in range(i):
        print("*",end="")
    print()
for i in range(6,0,-1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****
******
*****
****
***
**
*

In [41]:
n =1
for i in range(0,6):
    if i%2==0:
        n=1
    else:
        n=0
    for j in range(i):
        if n==1:
            print(n,end="")
            n=0
        else:
            print(n,end="")
            n=1
    print()

0
10
010
1010
01010

In [42]:
chr(65)

'A'

In [43]:
ord('A')

65

In [55]:

for i in range(1,6):
    n = 65
    m = chr(n)


    
    for j in range(i):
        n+=1
        print(chr(n-1),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [64]:
for i in range(1,6):
    n = 65
    m = chr(n)
    for j in range(1,6-i):
        n+=1
        
        print(chr(n-1),end="")
    print()

ABCD
ABC
AB
A

In [88]:
n=7
for i in range(1,n):
    n1=65
    for j in range(n-i):
        print(" ",end="")
        m = (2*i-1)//2
    for k in range(2*i-1):
        print(chr(n1),end="")
        if k<m:
            n1+=1
        else:
            n1-=1
        
    print()

      A
     ABA
    ABCBA
   ABCDCBA
  ABCDEDCBA
 ABCDEFEDCBA

In [83]:
n = 5  # The number of rows

for i in range(1, n + 1):
    n1 = 65  # ASCII value of 'A'
    
    # Printing leading spaces
    for j in range(n - i):
        print(" ", end="")
    
    # Printing characters
    m = (2 * i - 1) // 2
    for k in range(2 * i - 1):
        print(chr(n1), end="")
        if k < m:  # If k is less than the middle point, decrease n1
            n1 += 1
        else:      # After reaching the middle point, increase n1
            n1 -= 1
    
    # Move to the next line after each row
    print()

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [89]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==0 or j==0 or j<=n-1 or i<=n-1:
            print("*",end="")
    print()

*****
*****
*****
*****
****

In [90]:
def pattern21(n):
    # Outer loop for number of rows
    for i in range(n):
        
        # Inner loop for printing stars at borders only
        for j in range(n):
            
            if i == 0 or j == 0 or i == n - 1 or j == n - 1:
                print("*", end="")
            
            # If not border index, print space
            else:
                print(" ", end="")
        
        # Move to the next row
        print()

# Call the function with size 5
pattern21(5)

*****
*   *
*   *
*   *
*****